.dashboard-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container {
  padding: 20px;
  background-color: #000;
  width: 100%;
  overflow-x: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
  table-layout: fixed; /* Added to enforce equal width columns */
}

.table-container th, .table-container td {
  border: 1px solid #fff;
  padding: 10px;
  word-wrap: break-word; /* Added to break long words if needed */
}

.table-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.table-container a {
  color: #3498db;
  text-decoration: underline;
  margin-right: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-container {
  width: 100%;
  padding: 10px; /* Adjusted padding for smaller screens */
  background-color: #333;
  color: #fff;
  font-size: 16px; /* Adjusted font size for better visibility on smaller screens */
}

.navbar-link {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .table-container {
    padding: 10px;
    overflow-x: auto; /* Add horizontal scroll for smaller screens if needed */
  }

  .table-container table {
    width: 100%; /* Allow the table to take the full width on smaller screens */
  }

  .table-container th,
  .table-container td {
    padding: 5px;
  }

  .table-container img {
    max-width: 100%; /* Adjust as needed */
    height: auto;
  }

  .table-container a {
    font-size: 12px;
    margin-right: 10px;
  }

  .navbar-container {
    padding: 5px;
    font-size: 14px;
  }

  .table-container a {
    font-size: 10.4px; /* Adjust font size for links on smaller screens */
    margin-right: 12px; /* Adjust margin for links on smaller screens */
  }
}
