.dashboard-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container {
  flex: 1;
  padding: 20px;
  background-color: #000;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling for small screens */
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
}

.table-container th, .table-container td {
  border: 1px solid #fff;
  padding: 10px;
}

.table-container img {
  width: 100px; /* Set a fixed width for the images */
  height: 100px; /* Set a fixed height for the images */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}


/* Style for the links */
.table-container a {
  color: #3498db; /* Set link color */
  text-decoration: underline; /* Underline the link */
  margin-right: 20px; /* Add margin between links */
  font-weight: bold; /* Make the link text bold */
  transition: color 0.3s ease; /* Add a smooth color transition on hover */

  /* Add hover effect */
  &:hover {
    color: #2c3e50; /* Change color on hover */
  }
}

.navbar-container {
  width: 100%;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.navbar-link {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .table-container {
    padding: 10px;
  }

  .table-container th, .table-container td {
    padding: 5px;
  }

  .table-container img {
    width: 50px;
    height: 50px;
  }
}
