.dashboard-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.navbar-logo {
  height: 40px;
  margin-right: 10px;
}

.dashboard-header {
  margin: 0;
}

.navbar {
  padding: 10px;
  border-radius: 5px;
}

.nav-list {
  display: flex; /* Ajout de flex pour aligner les liens à côté les uns des autres */
}

.nav-link {
  text-decoration: none;
  color: #333;
  padding: 10px;
  margin-right: 10px; /* Ajout de marge entre les liens (vous pouvez ajuster cette valeur selon vos besoins) */
}

.create-plat-link {
  color: white;
}

.view-plats-link {
  color: white;
}
